@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
#content {
  width: 100vw;
  height: 100%;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: stretch;
}

#content > section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: start;
}

#content > section h1,
#content > section p,
#content > section form {
  width: 50vw;
}

/* HEADER */
header {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 10vh;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  -webkit-box-shadow: 0 5px #E6E6E6;
          box-shadow: 0 5px #E6E6E6;
}

header .title_page {
  margin-left: 2%;
}

header img {
  width: 50px;
}

header button {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: medium;
  /* white-space: nowrap; */
  cursor: pointer;
  background: #E98952;
  border: none;
  border-radius: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 200px;
  padding: 0.6% 1%;
  margin-right: 2%;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

header button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section p {
  margin-top: 2%;
}

section#name_event {
  margin-top: 5%;
  padding: 10% 0;
}

section#name_event .input__eventName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  font-family: 'Roboto Mono', monospace;
  width: 50%;
  border-bottom: 1.5px solid black;
}

section#name_event .input__eventName input {
  width: 100%;
  padding: 4% 2% 1% 2%;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

section#name_event .input__eventName input:focus {
  padding: 4% 2% 1.5% 2%;
}

section#event_date {
  background: url("../../img/background_sectionDate.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

section#event_date form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "input1 . input2" ". . ." "input3 . input4";
  -ms-grid-rows: auto 25% auto;
      grid-template-rows: auto 25% auto;
  -ms-grid-columns: auto 5% auto;
      grid-template-columns: auto 5% auto;
  padding-top: 5%;
  font-family: 'Roboto Mono', monospace;
}

section#event_date form input {
  padding: 5% 3%;
  border: none;
  border-radius: 5px;
}

section#event_date form input:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input1;
}

section#event_date form input:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: input2;
}

section#event_date form input:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: input3;
}

section#event_date form input:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: input4;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

input[type=image] {
  border: 1.5px ridge #333;
  border-radius: 10px;
  padding: 15% 40%;
  margin-top: 5%;
}

form i {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section#event_local {
  margin: 0 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#event_local h1 {
  margin-top: 5%;
}

section#event_local .button__content {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 25vw;
  width: 48vw;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  justify-items: stretch;
}

section#event_local .button__content .button__content_item {
  width: 100%;
  padding: 2% 0;
  color: #1A3B57;
  text-align: center;
  font-weight: 700;
  -webkit-transition-duration: 1.02s;
          transition-duration: 1.02s;
  -webkit-animation-duration: 1.02s;
          animation-duration: 1.02s;
  cursor: pointer;
}

section#event_local .button__content .enable__button_content_item {
  color: white;
  background-color: #1A3B57;
  border: 1.5px solid #1A3B57;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section#event_local .container__content {
  background: #1A3B57;
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

section#event_local .container__content .physical_event {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

section#event_local .container__content .physical_event .algolia-places {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  justify-items: center !important;
}

section#event_local .container__content input {
  width: 60%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#event_local .container__content .online_event {
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: stretch;
  background: #F6F6F6;
  width: 85%;
}

section#event_local .container__content .online_event form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  justify-items: center;
  padding: 2% 5% 10% 5%;
}

section#event_local .container__content .online_event form h1 {
  font-family: 'Roboto Mono', monospace;
}

section#event_local .container__content .online_event form input {
  width: 90%;
  background: transparent;
  border: 1.5px solid #333;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

section#event_local .container__content .online_event form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 80%;
  font-size: 10px;
}
/*# sourceMappingURL=create_event.css.map */