@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


/* Fist Page */
#focus_firstPage{
    width: 100vw;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}



/* HEADER */
header{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 700;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
    position: fixed;
    top: 0;

    width: 100vw;
    height: max-content;
    min-height: 10vh;
    
    border: none;
    border-bottom: 2px solid #D9D9D9;
    box-shadow: 0 5px #E6E6E6;
    
}
header .title_page{
    margin-left: 2%;
}
header img{
    width: 50px;
}

header button{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    /* white-space: nowrap; */

    pointer-events: none;

    background: #E98952;

    border: none;
    border-radius: 8px;

    width: max-content;
    height: max-content;
    
    padding: 0.6% 1%;
    margin-right: 2%;
}


/* Section 1 - Nome do evento */
section#name_event{
    width: 45VW;
    text-align: start;
}
section#name_event form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: start;
    justify-items: center;
}

section#name_event form label{
    align-self: flex-start;
    margin: 5% 0 0 0;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #333;
}
input[type=text]:focus{
    border: none;
}

form i{
    align-self: flex-end;
}


input[type=image]{
    border: 1.5px ridge #333;
    border-radius: 15px;
    padding: 15% 40%;
    margin-top: 5%;
}



/* SECTION DATE */

section#event_date{
    background: url('../../img/background_sectionDate.svg');


    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    justify-items: center;

    text-align: start;

}
